html{
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
}
body{
    background-image: url(sfondo.png);
    background-repeat: repeat-y;
    background-position: center;
}
h1, h2, h3, h4, h5, h6{ 
    font-weight: bold;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
#menu
{
    list-style: none;
    margin-top: 20px;
}

#Title{
    margin-top: 30px;
}
#home{
    display: block;
    margin-bottom: 10px;

}
#articoli{
    display: block;
    margin-bottom: 10px;

}
.head{
    margin-top: 20px;
    background-color:#0099bd;
    height: 330px;
    width: 400px;
    color: white;
    font-size: bold;
    box-shadow: 9px 6px 15px -5px rgba(0,0,0,0.38) ;
}
#logo{
    padding-top: 40px;
    width: 300px;
}

#Ctitle{
    text-align: left;
    font-size: 2.5em;
    padding-left: 20px;
    margin-top: 60px ;
    margin-bottom:30px ;

}
#credits{
    text-align: left;
    padding-left: 20px;
    color: #b3b3b3;
    margin-top: 30px ;
    margin-bottom:30px ;
}
.content{
    margin-top: 20px;
    background-color: white;
    
    width: 400px;
    box-shadow: 9px 6px 15px -5px rgba(0,0,0,0.38) ;
}
#area{
    text-align: left;
    padding-left: 50px;
    
}
.tag{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
}
    

.parti{
 color: rgba(170,32,114,255)
}
#First-p{
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
}
.highlited{
    border-radius:5px ;
    border: solid 1px  #b3b3b3;

}


th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
 #formattazione{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
 }
 ol{
    padding-left: 80px;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 10px;
 }
 #diffusione{
    font-weight: bold;
 }
 .thead{
    padding-left: 50px;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 20px;
    background-color: #3c67c4  ;
    padding-top: 10px;
    height: 30px;
    padding-bottom: 10px;
    
 }

tbody tr:nth-child(odd) {
     background-color: #dddddd;
}
td{
    padding-top: 10px;
    height: 30px;
    padding-bottom: 10px;
    
}
table{
    border-bottom: solid #3c67c4 ;
}